<h1><%= current_user.name %>'s Entries</h1>
<% @entries.each.with_index(1) do |entry, index| %>
    <% if !entry.title.blank? %>
        <p>(<%= index %>) <a href="/<%= current_user.username %>/entries/<%= entry.id %>"<strong><%= entry.date %></strong></a> - <%= entry.title %></p>
    <% else %>
        <p>(<%= index %>) <a href="/<%= current_user.username %>/entries/<%= entry.id %>"<strong><%= entry.date %></strong></a></p>
    <% end %>
<% end %>

<!-- <p><a href="/<%= current_user.username %>/entries/new">Create a new entry</a></p> -->
<p><form action="/<%= current_user.username %>/entries/new">
    <input type="submit" value="Create a new entry">
</form></p>