<div id="entry_index_h1">
  <h1><%= @user.name %>'s Entries</h1>
</div>
<span id="entry_home_button">
  <p><a href="/<%= @user.username %>">HOME</a></p>
</span>
<!-- <span id="entry_home_button">
  <form action="/<%= @user.username %>" method="POST">
    <input type="submit" value="Home">
  </form>
</span> -->
<!-- <form action="/<%= current_user.username %>/entries" method="POST">
<% @entries.each.with_index(1) do |entry, index| %>
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <% if !entry.title.blank? %>
        <label for="entry_<%= entry.id %>"></label>
        <p><input type="checkbox" id="entry_<%= entry.id %>" value="<%= entry.id %>"> (<%= index %>) <a href="/<%= current_user.username %>/entries/<%= entry.id %>"<strong><%= entry.date %></strong></a> - <%= entry.title %></p>
    <% else %>
        <p><input type="checkbox" value="<%= entry.id %>"> (<%= index %>) <a href="/<%= current_user.username %>/entries/<%= entry.id %>"<strong><%= entry.date %></strong></a></p>
    <% end %>
<% end %>
<input type="submit" value="Delete selected entry">
</form> -->
<% if @entries.empty? %>
  <div id="no_entries">No entries yet. Create your first entry today! </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <% @entries.each.with_index(1) do |entry, index| %>
      <tbody>
        <tr>
          <td><a href="/<%= current_user.username %>/entries/<%= entry.id %>"><strong><em><%= index %></em></strong></a></td>
          <td><a href="/<%= current_user.username %>/entries/<%= entry.id %>"><%= entry.date %></a></td>
          <td><a href="/<%= current_user.username %>/entries/<%= entry.id %>"><%= entry.title %></a></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
<!-- <p><a href="/<%= current_user.username %>/entries/new">Create a new entry</a></p> -->
<form action="/<%= @user.username %>/entries/new">
  <p><input type="submit" value="New Entry"></p>
</form>
<!-- <action="/<%= current_user.username %>/entries" method="POST">
    <p><input type="hidden" id="hidden" name="_method" value="DELETE">Delete an entry</p>
</action=> -->
<span id="user_home_sign_out">
  <form action="/logout" method="POST">
    <input type="submit" value="LOG OUT">
  </form>
</span>
