<span id="entry_home_button">
  <p><a href="/<%= @user.username %>">HOME</a></p>
</span>
<span id="user_home_sign_out">
  <form action="/logout" method="POST">
    <input type="submit" value="LOG OUT">
  </form>
</span>
<span id="back_to_all_entries">
  <form action="/<%= current_user.username %>/entries">
    <p><input type="submit" value="&laquo; BACK"></p>
  </form>
</span>
<div class="edit_new_title">
  <h1>New Entry</h1>
</div>
<div id="edit_divider"></div>
<div class="form">
  <form action="/<%= current_user.username %>/entries" method="POST">
    <div class="edit_new_entry_titles"><label for="date">Today's Date</label></div>
    <input type="date" class="date_picker" name="date">
    <div id="edit_title"><label for="title">Title</label></div>
    <span id="optional_title"><em>Optional</em></span>
    <p>
      <textarea id="the_entry" name="the_entry" rows="15" cols="100"></textarea>
    </p>
    <div class="edit_new_entry_titles"><label for="mood">Today's Mood</label></div>
    <select class="mood_selector" name="mood">
      <option id="empty"></option>
      <option id="happy" value="happy">Happy</option>
      <option id="meh" value="meh">Meh</option>
      <option id="sad" value="sad">Sad</option>
      <option id="angry" value="angry">Angry</option>
      <option id="tired" value="tired">Tired</option>
      <option id="stressed" value="stressed">Stressed</option>
      <option id="sick" value="sick">Sick</option>
    </select></h3>
  <div class="edit_new_entry_titles"><label for="food">What did you eat today?</label></div>
  <textarea id="food" name="food" rows="3" cols="80"></textarea>
  <div class="edit_new_entry_titles"><label for="gratitude">Today, I'm grateful for...</label></div>
  <textarea id="gratitude" name="gratitude" rows="3" cols="80"></textarea>
</div>
<div id="save_new_entry_button">
<input type="submit" value="Save">
</div>
</form>
<!-- <div class="divider"></div> -->
<!-- <form action="/<%= current_user.username %>/entries">
  <input type="submit" value="Cancel">
</form> -->
<div id="cancel_button">
  <form action="/<%= current_user.username %>/entries">
    <input type="submit" value="Cancel">
  </form>
</div>
<!-- <a href="/<%=current_user.username %>/entries">Cance;</a> -->
