<span class="main_page_button">
  <p><a href="/<%= @user.username %>">Main Page</a></p>
</span>
<span class="logout_button"><a href="/logout">Log Out</a></span>
<!-- <div class="back_to_all_entries"><a href="/<%= current_user.username %>/entries">&laquo; Back to all entries</a></div> -->
<div class="back_button"><a href="/<%= current_user.username %>/entries">&laquo; Back to All Entries</a></div>
<div class="entry_box">
  <div id="entry_title">
    <h1><%= @entry.title %></h1>
  </div>
  <div id="entry_date">
    <h2><%= @entry.date %></h2>
  </div>
  <div id="mood_entry">Mood: <%= @entry.mood.capitalize %></div>
  <div class="entry_inputs"><%= @entry.the_entry %></div>
  <div class="entry_input_titles">What I Ate Today</div>
  <div class="entry_inputs"><%= @entry.food %></div>
  <div class="entry_input_titles">I was grateful for...</div>
  <div class="entry_inputs"><%= @entry.gratitude %></div>
</div>
<br>
<div class="entry_buttons">
  <a href="/<%= current_user.username %>/entries/<%= @entry.id %>/edit">Edit</a>
</div>
<div id="show_divider"></div>
<div class="entry_buttons">
  <a href="/<%= current_user.username %>/entries/<%= @entry.id %>">Delete this entry</a>
</div>
<div class="space"></div>
